name: CI workflow

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    container: python:3.10-slim
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Install package  
        run: pip install -e .
      - name: Python Black Check
        uses: rodrigogiraoserrao/python-black-check@v2.0
        with:
          line-length: '88'
          exclude: '/(\.git|\.hg|\.mypy_cache|\.pytest_cache|\.tox|\.venv|_build|build|dist)/'
      - name: Lint with flake8
        run: |
          pip install flake8
          flake8 service --count ---extend-ignore=E203 --max-line-length=88 --show-source --statistics
      - name: Tests with pytest
        run: |
          pip install pytest-codecov 
          pytest --cov=drinks --cov-report xml:coverage.xml --cov-report term-missing tests/ -W "ignore" -v